.ask-main-wrapper {
  padding: 0.5rem;
  width: 40%;
  /* height: 45%; */
  min-width: 525px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 20px var(--background);
  user-select: none;
}

/* General -------------------------------------------------------------------*/
.ask-main-wrapper > * {
  display: flex;
  width: 80%;
  min-width: 350px;
  justify-content: center;
  gap: clamp(0.5rem, 3%, 5rem);
}

.ask-main-wrapper > *:last-child {
  gap: clamp(1.5rem, 8%, 5rem);
}

.ask-main-wrapper > :first-child,
.ask-main-wrapper > :nth-child(2) {
  width: 90%;
}
.ask-main-wrapper > *:not(:first-child) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ask-main-wrapper > :nth-child(2) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.ask-main-wrapper p {
  margin: 0;
  font-size: 1.25rem;
}

/* Title ---------------------------------------------------------------------*/
.ask-title-wrapper {
  border-bottom: solid rgba(80, 73, 73, 0.199) 3px;
}

.one-word {
  display: flex;
  align-items: center;
  margin: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.one-word > span {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

/* Not title -----------------------------------------------------------------*/
.ask-difficulty-wrapper label,
.ask-infos-wrapper {
  font-size: 1.75rem;
}

.ask-difficulty-wrapper > .radio-wrapper {
  display: flex;
  justify-content: center;
}

.ask-difficulty-wrapper label {
  display: flex;
  align-items: center;
}

.ask-infos-wrapper button {
  padding: 0.8rem;
  padding-block: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ask-infos-wrapper button > * {
  height: 100%;
}

/* Radio button --------------------------------------------------------------*/
.radio-wrapper input[type='radio'] {
  display: none;
}

.radio-wrapper label,
.radio-wrapper input {
  cursor: pointer;
}

.radio-wrapper label::before {
  content: '';
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('../assets/img/pokeBall.png');
  background-size: cover;
  opacity: 20%;
  margin-right: max(0.2rem, 1%);
}
.radio-wrapper label {
  opacity: 40%;
}

.radio-wrapper input[type='radio']:checked + label::before {
  opacity: 100%;
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.radio-wrapper input[type='radio']:checked + label {
  opacity: 100%;
  color: var(--accent);
  text-decoration: underline;
}
@keyframes shake {
  0%,
  25%,
  100% {
    transform: translate(0px, 2px);
  }

  50%,
  75% {
    transform: translate(0px, -2px);
  }
}

.radio-wrapper label:hover {
  opacity: 100%;
}
.radio-wrapper label:hover::before {
  opacity: 70%;
}
.radio-wrapper label:hover::before {
  animation: jitter 2s;
  animation-iteration-count: infinite;
}
@keyframes jitter {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(5deg);
  }
  55% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.radio-wrapper label:active {
  transform: scale(0.98);
}
