.game-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navbar --------------------------------------------------------------------*/
.game-navbar {
  height: clamp(2rem, 7%, 5rem);
  position: relative;
  display: flex;
  justify-content: center;
}

.game-navbar > :first-child {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0;
}

.game-navbar > .audio-toggler {
  border-radius: 50%;
  padding: 0.2rem;
}

.game-navbar > .audio-toggler > img {
  height: 100%;
}

.game-navbar p {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: var(--background);
  backdrop-filter: blur(5px);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px #64dbff;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--secondary);
  font-size: 1.25rem;
}

/* Card table ----------------------------------------------------------------*/
.card-table {
  border: solid red 3px;
  width: 70%;
  margin: 0 auto;
  height: 500px; /* Must specify for handling overflow */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  overflow-y: auto;
}
