#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Component: App ------------------------------------------------------------*/
.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../src/assets/img/background.png');
  background-size: cover;
  background-position: center top;
}

/* Audio toggler -------------------------------------------------------------*/
.audio-toggler {
  border-radius: 50%;
  position: absolute;
  bottom: max(2%, 1rem);
  left: max(2%, 1rem);
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  z-index: 1;
}

.audio-toggler > img {
  width: 100%;
  height: 100%;
}

.audio-toggler.ringing:before {
  content: '';
  position: absolute;
  border: solid #4eabc7 2px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%) translateY(-50%); */
  animation: expandFadeInOut 3s infinite;
}

@keyframes expandFadeInOut {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 0;
  }
  1% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1.4);
    opacity: 0;
  }
}
